@media (min-width: 1200px) {
    html{
        font-size: 16px;
    }   

}

@media (max-width: 1200px) {
    html{
        font-size: 14px;
    }   

}

@media (max-width: 900px) {
    html{
        font-size: 12px;
    }   

}

@media (max-width: 700px) {
    html{
        font-size: 10px;
    }   
    .action-containers{
        flex-direction: column;
    }
    .buildings-container,.action-container,.bulldozer-container{
        align-items: flex-start !important;
    }

}

@media (max-width: 560px) {
    html{
        font-size: 8px;
    }   

}

@media (max-width: 330px){
    .arcade-buttons{
        margin-left: 0 !important;
    }
}

#indexTitle {
    margin: 1rem !important;
}

#indexSubtitle {
    margin: 1rem !important;
}

/* Index */
#indexDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#indexBody {
    padding: 20vh;
    padding-top: 40px;
    background: url(../assets/cityscape.jpg);
    background-size: cover;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    height: 100vh;
    overflow-y: hidden;

}

.indexBtn {
    border-radius: 12px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: rgb(241, 193, 18);
    background-color: rgb(241, 193, 18);
    transition: ease-in-out 0.3s;
}

.indexBtn:hover {
    cursor: pointer;
    border-radius: 12px;
    padding: 19px;
    margin: 4px 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-color: rgb(241, 193, 18);
    background-color: gold
}

@media (max-width: 768px) {
    #indexBody {
        padding: 10vh;  /* Reduce padding */
        font-size: 24px; /* Adjust font size */
        text-align: center;
    }

    #indexDiv {
        flex-direction: column; /* Stack everything vertically */
    }

    .indexBtn {
        width: 90%;   /* Make buttons wider */
        margin: 5px 0; /* Adjust button spacing */
    }
}

/* Arcade */
#arcadeBody {
    background: #93C469;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.arcadeBtn {
    margin: 4px 2px;
    font-size: 0.9rem;
    border: none;
    background-color: whitesmoke;
    transition: ease-in-out 0.3s;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arcadeBtn:hover {
    cursor: pointer;
    border-radius: 20px;
    padding: 15px;
    margin: 4px 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: rgb(241, 193, 18);
    background-color: rgb(241, 193, 18);
}

/* Parent container for bulldozer and buildings */
.action-containers {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.bulldozer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#bulldozer {
    width: 70px;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out; /* Smooth transition for scaling */
}

#bulldozer:hover {
    transform: scale(1.2); /* Scale up by 20% on hover */
}

.buildings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.turn {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coins {
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score {
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#game-grid {
    display: grid; 
    grid-template-columns: repeat(20, 4.375rem); 
    grid-template-rows: repeat(20, 4.375rem); 
    row-gap: 0;
    column-gap: 0;
    height: 100%;
    width: min(100%,calc((4.375rem * 20) + 18px)); /*if the grid can shrink to fit its contents, shrink*/
    border: 1px solid #29804c;
    overflow: scroll;
    margin: auto;
    margin-top: 1vw !important;
}






.grid-spot:hover {
    background-color: aliceblue;
    transition: ease-in-out, 0.3s;
}

.grid-spot {
    border: 1px solid #29804c;
}

.grid-spot:hover {
    background-color: aliceblue;
    transition: ease-in-out, 0.3s;
}

#randombuilding-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    width: 8.75rem;
    border: 1px solid black;
    aspect-ratio: 2;
}

#randombuilding-1, #randombuilding-2 {
    border: 1px solid black;
}

.top-stats {
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3vw;
}

.img-txt {
    display: flex;
    align-items: center;
}

.img-txt img {
    height: 2rem;
    margin-right: 1rem;
}

.arcade-buttons{
    display: flex; 
    margin-left: auto;
}

#gameover-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border: 5px solid black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    display: none; /* Hide popup by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gameover-popup p {
    font-size: large;
}

#gameover-popup button {
    padding: 10px 15px;
}

.savegame-popup {
    width: 50vw;
    height: 50vh;
    z-index: 1;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border: 5px solid black;
    display: none;
    flex-direction: column;
    align-items: center;
}

.load-game-container {
    margin-bottom: 5vh;
    border-radius: 10px;
    background-color: rgb(241, 193, 18);
    padding: 0vw 4vw 1vw 2vw;
    display: inline-block;
}

.load-game-button {
    border-radius: 5px;
    padding: 0.5vw 1vw;
    margin-top: 1.1vw;
    background: none;
}

#leaderboardBody {
    padding: 20vh;
    padding-top: 40px;
    background: url(../assets/cityscape.jpg);
    background-size: cover;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 30px;
    overflow-y: auto;
}

#leaderboardDiv {
    display: flex;
    height: 100%;
    flex-wrap:wrap;
}

#leftSideDiv, #rightSideDiv {
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 10px;
    margin: 0 20px;
    background-color: rgba(184, 184, 184, 0.9);
    min-width: 500px;
    flex-direction: column;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none; /* Hide overlay by default */
}

#initials-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border: 5px solid black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    display: none; /* Hide popup by default */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#initials-popup h2 {
    margin-top: 0;
}

#initials-popup form {
    display: flex;
    flex-direction: column;
}

#initials-popup label {
    margin-bottom: 10px;
    font-weight: bold;
}

#initials-popup input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#initials-popup button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#initials-popup button:hover {
    background-color: #0056b3;
}

#tooltip{
    background: white;
    position: absolute;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.legend {
    border-radius: 20px;
    background: white;
    padding: 15px;
    border-radius: 20px;
    width: fit-content;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .legend h2 {
    margin-bottom: 5px;
  }
  
  .legend-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .legend-items li {
    margin: 5px;
    text-align: center;
    width: calc(20% - 10px);
    padding: 10px;
  }
  
  .legend-items img {
    width: 40px;
    height: 40px;
    display: block;
    margin-bottom: 5px;
  }
  
  .legend-items span {
    font-weight: bolder;
    font-size: 0.8em;
  }
  
  
  @media (max-width: 768px) {
    .legend-items li {
      width: calc(33% - 10px);
    }
  }
  
  @media (max-width: 480px) {
    .legend-items li {
      width: calc(50% - 10px);
    }
  }


#game-grid img {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}